
/* addCreditCardItem changes */

h4 {
  position : absolute !important;
  left : 1rem !important;
  font-size : 12px !important;
  font-weight : normal !important;
  margin-top : -40px !important;
  color : #999999 !important;
} 

.inputs-container {
  display : none !important;
}

.container {
  color : rgb(246, 247, 251) !important;
  background-color : white !important;
  border : 1px solid !important;
  padding : 1rem 1rem 0 1rem !important;
  margin-top : 30px !important;
}