/* Modal */

#product-checkout-modal {
  width: 339px;
  height: auto;
}

.modal.wlh-modal.product-checkout-modal .modal-header-close {
  display: none;
}

purchase-product-item {
  display: "flex";
  flex-flow: "column";
  justify-content: "space-between";
  width: "100%";
  height: "100%";
}