main {
  width: 100%;
  max-width: 860px;
  margin: 0 calc(50% - 430px);
  display: flex;
  align-items: center;
  flex-flow: column;
  min-height: 100%;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.banner {
  height: 300px;
  width: 200px;
  margin-right: 16px;
}

.banner img {
  width: 260px;
  height: auto;
}

.middle-side {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 75px;
  background-color: black;
  border-radius: 16px;
  margin-bottom: 30px;
  max-width: 883px;
  padding-right: 36px;
  justify-content: flex-end;
}

.middle-img {
  position: absolute;
  bottom: -43px;
  left: -143px;
  height: auto;
  width: 60%;
}

.text-side {
  min-width: 440px;
  padding-top: 16px;
}

.bottom-side {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.title,
.subtitle {
  width: auto;
  height: auto;
  margin: 16px 0;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
  line-height: 110%;
  text-align: center;
}

.title {
  font-family: "Poppins", sans-serif;
}
.subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.subtitle label {
  cursor: pointer;
  margin-left: 8px;
}

.subtitle i {
  font-size: 20px;
  color: #cccccc;
  margin-left: 12px;
  cursor: pointer;
  z-index: 5;
  pointer-events: all;
}

hr.solid {
  width: 65%;
  border-top: 1px solid #bbb;
  border-radius: 8px;
  margin-top: 30px;
}

.product-card {
  display: flex;
  flex-flow: column;
  height: auto;
  background-color: #000000;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
}

.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.product {
  display: flex;
  flex-flow: column;
  margin-left: 25px;
}

.product-title {
  color: #ffffff;
  width: auto;
  height: auto;
  margin: 16px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
}

.product-price {
  color: #ffffff;
  width: auto;
  height: auto;
  margin: 0px 0 16px 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 110%;
  text-align: center;
}

.btn-section {
  margin-right: 25px;
}

.action-btn {
  width: auto;
  height: 40px;
  border-radius: 15px;
  background: #ffca1d;
  background-color: #ffca1d;
  color: #816519;
  border-color: rgba(247, 214, 107, 0.4);
  cursor: pointer;
  padding: 0 10px;
  text-align: center;
  outline: none;
  position: relative;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  align-items: center;
  display: flex;
}

.action-btn.wlh-btn-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.action-btn .wlh-btn-icon img {
  pointer-events: initial;
  user-select: initial;
  height: 18px;
  margin: 6px 0px;
  width: auto;
  height: 30px;
  margin: 0;
}

.action-btn .action-btn-text {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 28px;
  line-height: 29px;
  font-size: 17px;
  font-weight: 600;
  white-space: nowrap;
}

.action-btn .wlh-btn-icon, .wlh-btn .wlh-btn-icon i {
  width: auto;
  height: 28px;
  line-height: 29px;
  font-size: 12px;
}

.list-section {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.list-item {
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-size: 15px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-weight: 600;
}

.list-item img {
  width: 34px;
  margin-right: 8px;
}

.bubble-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bubble-item {   
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-item img {
  height: 60px;
  width: auto;
}

.bubble-item-text {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: start;
}

.bubble-text-title {
  width: auto;
  height: auto;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  line-height: 110%;
  text-align: left;
  font-family: 'Poppins' sans-serif;
}

.bubble-text-subtitle {
  width: auto;
  height: auto;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  line-height: 110%;
  text-align: left;
  font-family: 'Poppins' sans-serif;
}

/* Móvile */
@media screen and (max-width: 991px) {
  .left-side {
    display: none;
  }
  .right-side {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

}
/* Ipad vertical */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Ipad horizontal */
@media screen and (min-width: 992px) and (max-width: 1279px) {

}
